body {
	margin: 0 0 2em 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	background-color: #e4e7ee;
	text-align: center;
	letter-spacing: -0.04em;
	color: #003e52;
}

body * {
	box-sizing: border-box;
}

img {
	border: 0;
}

a {
	color: inherit;
}	

button,select {
	font-family: inherit;
	font-size: inherit;
	letter-spacing: inherit;
}

@media (min-width: 1400px) {
	html { font-size: 1vw; }
}

@media (max-width: 600px) {
	header { font-size: 2.5vw; }
}

@media (max-width: 500px) {
	.booksSection { font-size: 3.2vw; }
}

@media (max-height: 500px) {
	header { font-size: 2.5vh; }
	.booksSection { font-size: 3.2vh; }
}

header {
	background-color: #003e52;
	color: white;
}

#authorList, #genreList, #levelsList {
    font-size: 1rem;
    position: absolute;
    right: 1em;
}

@media (max-width: 750px) {
	#authorList, #genreList {
	    position: static;
	    width: 75%;
	}
}

.gef-corporate-logo__link {
	left: 2em;
	top: 2em;
	position: absolute;
}
.gef-corporate-logo__link img {
	height: 4em;
}

#apiErrors {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	background-color: #dc0000;
	padding: 0.25em 0.75em;
	color: white;
	border-radius: 1em;
	cursor: pointer;
	font-size: 0.9em;
}

.showMore {
	font-size: inherit;
	border: none;
	line-height: 2;
	padding: 0 2em;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
	color: white;
	background-color: #003e52;
	display: none;
	font-family: inherit;
}
.showMore:hover {
	background-color: #0072a1;
}
.showMore:active {
	background-color: white;
	color: #003e52;
}

.booksSection .noBooksFound {
	display: none;
}
.booksSection.hasNoBooks .noBooksFound {
	display: inline-block;
}
.booksSection.hasNoBooks .gradientBackground {
	display: none;
}
.booksSection.hasNoBooks .noBooksFound:before {
    content: '\f071';
    display: block;
    border-radius: 50%;
    font-size: 5em;
    opacity: 0.15;
    line-height: 1.25;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold; /* Font doesn't show without this! */
}

.profileCircle {
	margin-top: 0.1em;
	display: inline-block;
	font-size: 4em;
	color: #b8d6e0;
	width: 1.5em;
	line-height: 1.5;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.25);
}


#userList_wrapper {
	font-size: 1.5em;
	margin: 0.25em;
}

.booksSection {
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: white;
}


.book {
	display: inline-block;
	width: 13em;
	text-align: left;
	transition: transform 0.25s;
	transform-origin: center;
	vertical-align: top;
	text-decoration: none;
	margin: 1em;
	line-height: 1.2;
	padding-top: 0.1em; /* Prevents text from making a bump in the focus box  */
}
.book .popular {
	position: absolute;
    margin: -0.9em 0 0 -10em;
    font-size: 0.8em;
    background-color: #ffee91;
    opacity: 0;
    z-index: 1;
    color: black;
    padding: 0.3em 0.5em;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.25em rgba(0,0,0,0.25);
}
.book.isPopular:not(.isLoading) .popular {
	opacity: 1;
}
.book .spinner {
	display: none;
	color: rgba(0, 0, 0, 0.07);
	font-size: 6em;
	margin-left: -0.7em;
}
.book.isLoading .spinner {
	display: inline-block;
}
.booksSection>.title {
	font-weight: normal;
	font-size: 1.3rem;
}
.booksSection .gradientBackground {
	/*background: repeating-linear-gradient(white, #e4e7ee 12.1em);*/
	padding: 0 2vw;
	min-height: 11.1em;
}
.book .thumbnail {
	height: 9em;
	box-shadow: 0 0 1em rgba(0,0,0,0.4);
	vertical-align: top;
	transition: all 1s;
	opacity: 1; 
	width: 6.2em;
	float: left;
	margin-right: 0.5em;
}
.book.isLoading .thumbnail{
	opacity: 0;
}
.book .title {
	font-weight: bold;
}
.book .author {
	font-style: italic;
}
.book .title,
.book .author,
.book .year {
	font-size:0.9em;
	vertical-align: top;
}
.book:not(.isLoading):hover,
.book:focus {
	transform: scale(1.15);
	cursor: pointer;
}
.book:focus {
	transform: scale(1.1);
}
.book:hover .title,
.book:focus .title,
.book:hover .author,
.book:focus .author,
.book:hover .year,
.book:focus .year {
	color: black;
}

.books>.spinner {
	color: rgba(0, 0, 0, 0.07);
	font-size: 100px;
	display: none;
}
.loadingBooks #books>.spinner {
	display: block;
}

.showMoreContainer {
	padding: 1em;
	background: linear-gradient(white, #e4e7ee);
}

.spinner i  {
	animation-name: spin; 
	animation-duration: 4000ms; 
	animation-iteration-count: infinite; 
	animation-timing-function: linear;
}

@keyframes spin {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
